<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="WatcherFolder" value="d:/epam_temp/" />
    <add key="LogFile" value="d:/fwLogFile.txt" />
  </appSettings>
  <connectionStrings>
    <add name="SalesContext"
      connectionString="Data Source=DESKTOP-CSTF6K8;Initial Catalog=SalesDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>