<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<configSections>

    name = Имя, которое используется для ссылки на данный раздел в файле настройки.
    type = Обработчик раздела настроек. 
    Включает две секции: 
    - полный путь - пространство имен обработчика наших данных + имя самого обработчика,
    - наименование сборки, где данный класс располагается.

        <section name="StartupFolders" type="ConfigSectionTester.StartupFoldersConfigSection, ConfigSectionTester"/>
    </configSections>  
  
    <StartupFolders>
        <Folders>
            <add folderType="A" path="D:\epam_temp\"/>
        </Folders>
    </StartupFolders>    
  -->
    

    
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <add key ="defaultFolder" value="D:\epam_temp\" />
    <add key ="servicePath" value="E:\_projects\epam\task4\epam_task4\fwService\bin\Debug\fwService.exe"/>
  </appSettings>    
    
    
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>

</configuration>